body {
    background-color: rgba(161, 214, 254, 0.412);
    color: rgb(67, 67, 67);
    font-family: Arial, sans-serif;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #b8b8b835;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 16px;
    transition: all 0.3s ease;
}

input:focus {
    border-color: #4d90fe;
    outline: none;
    box-shadow: 0 0 8px rgba(77, 144, 254, 0.3);
}

button {
    background-color: #848878;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    align-self: center;
}

button:hover {
    background-color: #91b793;
}

.toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.toast.show {
    visibility: visible;
    opacity: 1;
}

.toast.success {
    background-color: #28a745;
}

.toast.error {
    background-color: #dc3545;
}

.back-button {
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: #4d90fe;
    font-size: 16px;
    transition: color 0.3s ease;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(161, 214, 254, 0.3);
    max-width: 200px;
}


.back-button:hover {
    color: #3579e6;
    background-color: rgba(161, 214, 254, 0.5);
}
